/* BASE COLOR SCHEME FOR THE STARTPAGE */
:root{
  --bg: #202020;
  --bg2: #282828;
  --bg3: #585858;
  --fg: #e8e8e8;
  --purple: #ba8baf;
  --blue: #7cafc2;
  --green: #a1b56c;
  --orange: #dc9656;
  --red: #ab4642;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains mono", monospace;
    color: var(--fg);
    font-size: 13.5px;
  }
  
  /* SELECTION COLOR CHANGE */
  ::selection {
      background-color: var(--purple);
      color: var(--fg);
  }
  ::-moz-selection {
      background-color: var(--purple);
      color: var(--fg);
  }
  ::-o-selection {
      background-color: var(--purple);
      color: var(--fg);
  }
  ::-ms-selection {
      background-color: var(--purple);
      color: var(--fg);
  }
  ::-webkit-selection {
      background-color: var(--purple);
      color: var(--fg);
  }

  body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }

  #clock{
    text-align: center;
    color: var(--fg);
    font-size: 56px;
    font-weight: 800;
  }

  #date{
    text-align: center;
    color: var(--fg);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  #welcome{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .links-wrapper {
    display: flex;
  }
  
  .links-wrapper div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 500px;
    min-width: 300px;
    padding: 50px;
    border-radius: 5px;
    background-color: var(--bg2);
  }
  
  .links-wrapper > .school-links h1{
    text-align: center;
    background-color: var(--blue);
    padding: 5px;
    border-radius: 5px;
    color: var(--bg);
  }

  .links-wrapper > .school-links a.mid{
    text-align: center;
    text-decoration: none;
    color: var(--fg);
    opacity: 0.7;
    margin-bottom: 12px;
    font-size: medium;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
  }

  .links-wrapper > .school-links a.mid:hover{
    color: var(--blue);
    opacity: 1;
    cursor: default;
    font-weight: 600;
    cursor: pointer;
  } 

  .links-wrapper > .social-links h1{
    text-align: center;
    background-color: var(--green);
    padding: 5px;
    border-radius: 5px;
    color: var(--bg);
  }

  .links-wrapper > .social-links a.mid{
    text-align: center;
    text-decoration: none;
    color: var(--fg);
    opacity: 0.7;
    margin-bottom: 12px;
    font-size: medium;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
  }

  .links-wrapper > .social-links a.mid:hover{
    color: var(--green);
    opacity: 1;
    cursor: pointer;
    font-weight: 600;
  } 

  .links-wrapper > .work-links h1{
    text-align: center;
    background-color: var(--orange);
    padding: 5px;
    border-radius: 5px;
    color: var(--bg);
  }

  .links-wrapper > .work-links a.mid{
    text-align: center;
    text-decoration: none;
    color: var(--fg);
    opacity: 0.7;
    margin-bottom: 12px;
    font-size: medium;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
  }

  .links-wrapper > .work-links a.mid:hover{
    color: var(--orange);
    opacity: 1;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer;
  } 

  .links-wrapper > .other-links h1{
    text-align: center;
    background-color: var(--red);
    padding: 5px;
    border-radius: 5px;
    color: var(--bg);
  }

  .links-wrapper > .other-links a.mid{
    text-align: center;
    text-decoration: none;
    color: var(--fg);
    opacity: 0.7;
    margin-bottom: 12px;
    font-size: medium;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
  }

  .links-wrapper > .other-links a.mid:hover{
    color: var(--red);
    opacity: 1;
    cursor: default;
    font-weight: 600;
  }

  /* SEARCH BOX STYLE */
  .searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inputBox {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    background: var(--bg2);
    font-size: 15px;
    line-height: 1.5;
    color: var(--bg3);
    font-size: 20px;
    min-width: 600px;
    width: 620px;
    padding: 12px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.15);
  }